.loginContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  >div {
    width: 25%;

    >div:last-child {
      >form {
        >div:last-child {
          >button {
            width: 100% !important;
          }
        }
      }
    }
  }
}