.dataFlewViewWrapper {
  margin: 2em;
  background-color: var(--seconday-bg);

  .searchBar {
    text-align: end;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div:last-child {
      display: flex;
      gap: 1em;
      align-items: center;
    }
  }

  .viewController {
    margin: 1em;
  }

  .dataFlexView {
    .paginationWrapper {
      padding: 1em;
      display: flex;
      justify-content: end;
    }
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 3em;
  justify-content: flex-start;

}