@use '../../../styles/themes';

.headerWrapper {
  background-color: var(--header-bg);
  color: var(--header-text);
      padding: 1em 2em;

  >div {
    display: flex;
    justify-content: space-between;

    >img {
      width: 2%;
    }

    >div:last-child {
      display: flex;
      justify-content: end;
      gap: 1em;
      align-items: center;

      >span:last-child {
        background-color: var(--logout-bg);
        padding: .3em;

        >svg {
          cursor: pointer;
        }
      }
    }
  }
}